<div class="d-toc-main">
  <div class="d-toc-icons">
    <a
      href
      class="scroll-to-bottom"
      title={{i18n (theme-prefix "post_bottom_tooltip")}}
      {{on "click" this.scrollToBottom}}
    >
      {{d-icon "downward"}}
    </a>
    <a href class="d-toc-close" {{on "click" this.closeOverlay}}>
      {{d-icon "times"}}
    </a>
  </div>

  <div id="d-toc">
    {{{this.data.html}}}
  </div>
</div>
